Click==7.0
eventlet==0.24.1
Flask==1.0.2
Flask-Cors==3.0.7
Flask-SocketIO==3.3.2
Flask-Sockets==0.2.1
flask_migrate
flask_sqlalchemy
flask_testing
gevent==1.4.0
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
json-logging-py==0.2
MarkupSafe==1.1.1
psycopg2-binary
requests
Werkzeug==0.15.3

